.container{
    width: 970px;
    min-height: 930px;
    background: linear-gradient(#1f0f13,#6f5964,#1f0f13);
    
}
.header{
    width: 970px;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}
.topbody{
    width: 970px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.jayne{
    width: 400px;
    height: 250px;
    border: 5px solid silver;

}
.about{
    width: 500px;
    height: 250px;
    border: 5px solid silver;
    padding: 0px;
    background-color:whitesmoke;
}
.abouttag {
margin: 0px;
    width: 500px;
    height:38px;
    background-color: silver;
    color:white ;
}
.downbody{
    display: flex;
    justify-content: space-evenly;

}
.box{
    width: 300px;
    height: 500px;
    background-color: whitesmoke;

}
.cv{
    margin: 0px;
    width: 296px;
    height:38px;
    background-color: silver;
    color:white;
    padding-left: 4px;
}
.mode{
    width: 300px;
    height: 160px;
}
.small{
    margin: 0px 5px;
}
.read{
    color:black;

}

.language{
    height: 40px;
    width: 40px;
    margin: 5px;
    margin-left: 10px;
}
.cate{
    border-radius: 3px;
    background-color: green;
    margin-top: 20px;
    display: block;
    width: 120px;
    text-align: center;
    margin-left: 80px;
    height: 25px;
    margin-top: 5px;
    color: whitesmoke;
    text-decoration: none;
    padding-top: 3px;

}
    
    .footer{
        text-align: center;
        padding: 3px;
        background-color: whitesmoke;
        width: 965px;
    height: 70px;
    

    }
    .social{
        display: flex;
        width: 362px;
        padding: 10px;
        margin: auto;
        line-height: -400px;
        overflow: hidden;
        text-align: center;
      
    }
    .footer img {
        width: 20px;
        
        margin:auto;
        top: -50px;
    }

    .footer p{
        margin-bottom: 0px;
    }
    

