.nav{
    background-color: cyan;
    display: flex;
    align-items: center;
    

}
ul{
    display: flex;
    width: 600px;
}
ul li{

list-style-type:none;
flex:1;
align-items:center;
justify-content: space-between;

}

